- hosts: localhost
  connection: local
  gather_facts: false
  become_method: sudo
  vars_files:
    - vault.yml
  vars:
    image_name: "riadh2002/consume-safe"
    image_tag: "{{ image_tag | default('latest') }}"
    kubeconfig: "{{ lookup('env','KUBECONFIG') }}"
    docker_registry: "docker.io"
  environment:
    DOCKER_USER: "{{ docker_registry_user }}"
    DOCKER_PASS: "{{ docker_registry_password }}"
  roles:
    - role: build_and_push_image
    - role: container_scan
    - role: deploy_k8s

